/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 28, 2014, 11:25:19 AM
    Author     : adina.nichitean
*/

/*Alert*/

h2.promotion-alert {
    font-size:12px;
    color:#444;
    font-weight:bold;
    background:#f0c9c9 url(images/error_msg_icon.gif) 5px 5px no-repeat ;
    padding:5px 5px 5px 26px;
    border:1px solid #dc9f9f;
}